body{
  background-color: black;
}

.liste{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-bottom: 30px;
}
h1{
  text-align: center;
  color: white;
  size: 200px;
  color: aquamarine;
}
.footer{
  display: flex;
  justify-content: space-around;
  width: 300px;
  margin: auto;
  color: blue;
  text-align: center;

}
h3{
  text-align: center;
  color: white;
  size: 200px;
  color:black;
}